{% extends "base.html" %}
{% load auth_extras %}

{% block title %}Epic Events | Évènements{% endblock title %}

{% block content %}

<h1 class="text-white mb-4">Évènements</h1>

{% if events %}
<div class="table-responsive mt-4">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Cient</th>
                <th>Contrat</th>
                <th>Titre</th>
                <th>Compte rendu</th>
                {% if user|has_group:"vente" %}
                <th>Responsable</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr class="align-middle">
                <td>{{ event.contract.client }}</td>
                <td><a href="#" data-bs-toggle="modal" data-bs-target="#{{ event.contract }}">{{ event.contract }}</a></td>
                <td>{{ event.contract.title }}</td>
                <td>
                    {% if user|has_group:"support" %}
                    {% if event.event_retrospective %}
                    <a class="btn btn-sm btn-outline-light" href="#">Modifier</a>
                    {% else %}
                    <a class="btn btn-sm btn-outline-light" href="#">Rédiger</a>
                    {% endif %}
                    {% elif user|has_group:"vente" %}
                    {% if event.event_retrospective %}
                    <a href="#">Afficher</a>
                    {% else %}
                    <i>Non rédigé</i>
                    {% endif %}
                    {% endif %}
                </td>
                {% if user|has_group:"vente" %}
                {% if event.support_contact %}
                <td>{{ event.support_contact.first_name|title }} {{ event.support_contact.last_name|upper }}</td>
                {% else %}
                <td><i>Non assigné</i></td>
                {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Aucun évènement n'est associé à votre profil utilisateur.</p>
{% endif %}

{% for event in events %}
{% include "events/fragments/contract_content_modal.html" with contract=event.contract %}
{% endfor %}

{% endblock content %}