{% extends "base.html" %}

{% block title %}Epic Events | API{% endblock title %}

{% block content %}

<p class="mb-1">
    {% if user.is_authenticated %}
    <a class="btn btn-dark" href="/api/">Accéder à l'API</a>
    {% else %}
    <a class="btn btn-dark" href="#" data-bs-toggle="modal" data-bs-target="#login-required-modal">Accéder à l'API</a>
    {% endif %}
</p>

<h1 class="h3 text-black mt-4 mb-3">Points de terminaisons</h1>

{% include "events/fragments/login_required_modal.html" %}

{% endblock content %}

