{% extends "base.html" %}

{% block title %}Epic Events | API{% endblock title %}

{% block content %}

<h1 class="text-center text-white mb-2">Epic Events API</h1>

<p class="text-center">
    <a href="https://documenter.getpostman.com/view/22554176/2s93JqSQgV" target="_blank">Documentation Postman</a>
</p>

<h2 class="h3 text-black mt-5 mb-3">Appel de l'API</h2>

<p class="mb-1">
    Pour constituer les URI d'appel à l'API vous devez faire précéder les <b class="text-light">Path</b>
    indiqués ci-dessous par : <b class="text-light">https://www.epiceventscrm.com</b>
</p>

<p>→ Exemple : https://www.epiceventscrm.com/api/token/</p>

<h2 class="h3 text-black mt-4 mb-3">Authentification</h2>

<p class="mb-1">L'authentification se fait via le standard JWT (JSON Web Token).</p>

<div class="table-responsive mt-4">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Action</th>
                <th>Méthode HTTP</th>
                <th>Path</th>
                <th>Headers</th>
                <th>Body</th>
                <th>Accès</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Récupérer une paire de tokens<br>(token d'accès + token de rafraichissement)</td>
                <td>POST</td>
                <td>/api/token/</td>
                <td></td>
                <td>
                    email <span class="text-secondary">: adresse e-mail</span><br>
                    password <span class="text-secondary">: mot de passe</span>
                </td>
                <td>
                    <ul class="mb-0">
                        <li>gestion</li>
                        <li>vente</li>
                        <li>support</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Récupérer un token d'accès</td>
                <td>POST</td>
                <td>/api/token/refresh/</td>
                <td></td>
                <td>
                    refresh <span class="text-secondary">: token de rafraichissement</span>
                </td>
                <td>
                    <ul class="mb-0">
                        <li>gestion</li>
                        <li>vente</li>
                        <li>support</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="h3 text-black mt-4 mb-3">Clients</h2>

<div class="table-responsive mt-4">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Action</th>
                <th>Méthode HTTP</th>
                <th>Path</th>
                <th>Headers</th>
                <th>Body</th>
                <th>Accès</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Récupérer les clients</td>
                <td>GET</td>
                <td>/api/clients/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td></td>
                <td>
                    <ul class="mb-0">
                        <li>gestion</li>
                        <li>vente</li>
                        <li>support</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Ajouter un client</td>
                <td>POST</td>
                <td>/api/clients/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td>
                    company_name <span class="text-secondary">: nom de l'entreprise</span><br>
                    first_name <span class="text-secondary">: prénom</span><br>
                    last_name <span class="text-secondary">: nom</span><br>
                    email <span class="text-secondary">: adresse e-mail</span><br>
                    phone_number <span class="text-secondary">: numéro de téléphone</span>
                </td>
                <td>
                    <ul class="mb-0">
                        <li>vente</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Récupérer un client</td>
                <td>GET</td>
                <td>/api/clients/&lt;client_id&gt;/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td></td>
                <td>
                    <ul class="mb-0">
                        <li>gestion</li>
                        <li>vente</li>
                        <li>support</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Modifier un client</td>
                <td>PUT</td>
                <td>/api/clients/&lt;client_id&gt;/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td>
                    company_name <span class="text-secondary">: nom de l'entreprise</span><br>
                    first_name <span class="text-secondary">: prénom</span><br>
                    last_name <span class="text-secondary">: nom</span><br>
                    email <span class="text-secondary">: adresse e-mail</span><br>
                    phone_number <span class="text-secondary">: numéro de téléphone</span>
                </td>
                <td>
                    <ul class="mb-0">
                        <li>vente</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="h3 text-black mt-4 mb-3">Contrats</h2>

<div class="table-responsive mt-4">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Action</th>
                <th>Méthode HTTP</th>
                <th>Path</th>
                <th>Headers</th>
                <th>Body</th>
                <th>Accès</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Récupérer les contrats</td>
                <td>GET</td>
                <td>/api/contracts/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td></td>
                <td>
                    <ul class="mb-0">
                        <li>gestion</li>
                        <li>vente</li>
                        <li>support</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Ajouter un contrat</td>
                <td>POST</td>
                <td>/api/contracts/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td>
                    client_id <span class="text-secondary">: identifiant du client</span><br>
                    title <span class="text-secondary">: titre</span><br>
                    content <span class="text-secondary">: termes et conditions</span><br>
                    amount <span class="text-secondary">: montant en euros</span>
                </td>
                <td>
                    <ul class="mb-0">
                        <li>vente</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Récupérer un contrat</td>
                <td>GET</td>
                <td>/api/contracts/&lt;contract_id&gt;/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td></td>
                <td>
                    <ul class="mb-0">
                        <li>gestion</li>
                        <li>vente</li>
                        <li>support</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Modifier un contrat</td>
                <td>PUT</td>
                <td>/api/contracts/&lt;contract_id&gt;/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td>
                    client_id <span class="text-secondary">: identifiant du client</span><br>
                    title <span class="text-secondary">: titre</span><br>
                    content <span class="text-secondary">: termes et conditions</span><br>
                    amount <span class="text-secondary">: montant en euros</span>
                </td>
                <td>
                    <ul class="mb-0">
                        <li>vente</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Supprimer un contrat</td>
                <td>DELETE</td>
                <td>/api/contracts/&lt;contract_id&gt;/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td></td>
                <td>
                    <ul class="mb-0">
                        <li>vente</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Signer un contrat</td>
                <td>POST</td>
                <td>/api/contracts/&lt;contract_id&gt;/sign/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td></td>
                <td>
                    <ul class="mb-0">
                        <li>vente</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="h3 text-black mt-4 mb-3">Évènements</h2>

<div class="table-responsive mt-4">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Action</th>
                <th>Méthode HTTP</th>
                <th>Path</th>
                <th>Headers</th>
                <th>Body</th>
                <th>Accès</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Récupérer les évènements</td>
                <td>GET</td>
                <td>/api/events/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td></td>
                <td>
                    <ul class="mb-0">
                        <li>gestion</li>
                        <li>vente</li>
                        <li>support</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Récupérer un évènement</td>
                <td>GET</td>
                <td>/api/events/&lt;event_id&gt;/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td></td>
                <td>
                    <ul class="mb-0">
                        <li>gestion</li>
                        <li>vente</li>
                        <li>support</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Modifier un évènement</td>
                <td>PUT</td>
                <td>/api/events/&lt;event_id&gt;/</td>
                <td>Authorization : Bearer &lt;access_token&gt;</td>
                <td>
                    date <span class="text-secondary">: date de l'évènement</span><br>
                    attendees <span class="text-secondary">: nombre de participants</span><br>
                    event_retrospective <span class="text-secondary">: compte rendu</span><br>
                    customer_satisfaction <span class="text-secondary">: satisfaction client (note sur 5)</span>
                </td>
                <td>
                    <ul class="mb-0">
                        <li>support</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}

