<!DOCTYPE html>
{% load static %}
{% load auth_extras %}
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>

    {# Bootstrap CSS #}
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous">

    {# Bootstrap JS #}
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

    {# CSS #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">

</head>

<body>

    <div id="main-container">
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand me-5" href={% url "about" %}>
                    <img id="epic-events-logo" src="{% static 'img/logos/epic-events-logo.png' %}" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mt-2 mt-lg-0">
                            <a class="nav-link nobr" href="{% url 'about' %}">À propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'api_doc' %}">API</a>
                        </li>
                        <li class="nav-item">
                            {% if user.is_admin %}
                            <a class="nav-link" href="{% url 'admin:index' %}">Administration</a>
                            {% elif user.is_staff and user|has_group:"gestion" %}
                            <a class="nav-link" href="/gestion-admin/">Administration</a>
                            {% elif user.is_staff and user|has_group:"vente" %}
                            <a class="nav-link" href="/vente-admin/">Administration</a>
                            {% elif user.is_staff and user|has_group:"support" %}
                            <a class="nav-link" href="/support-admin/">Administration</a>
                            {% endif %}
                        </li>
                        {% if user|has_group:"vente" or user|has_group:"support" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'client_list' %}">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'event_list' %}">Évènements</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                    <p class="text-white mt-3 mx-0 mx-lg-4">
                        <span class="nobr">{{ user.first_name|title }} {{ user.last_name|upper }}</span><br>
                        <span class="text-info-emphasis">{{ user.groups.all.0|title }}</span>
                    </p>
                    <a class="btn btn-secondary me-3 mt-1 mb-3 mb-lg-2" href="{% url 'logout' %}">Déconnexion</a>
                    {% else %}
                    <a class="btn btn-secondary me-3 mt-1 mb-3 mb-lg-2" href="{% url 'login' %}">Connexion</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container mt-5">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <footer class="bg-dark mt-5">
        <p class="text-white text-center pt-4">&copy; <span>{% now "Y" %}</span> Epic Events CRM</p>
        <p class="text-center">
            <a href="https://github.com/romansainthilaire" target="_blank">
                <img id="github-logo" src="{% static 'img/logos/github-logo.png' %}" alt="">
            </a>
        </p>
    </footer>

</body>

</html>