{% extends "base.html" %}
{% load auth_extras %}

{% block title %}Epic Events | Clients{% endblock title %}

{% block content %}

<h1 class="text-white mb-4">
    Clients
    {% if user|has_group:"vente" %}
    <a class="btn btn-sm btn-secondary ms-4 mb-1" href="{% url 'client_create' %}">Nouveau</a>
    {% endif %}
</h1>

{% if clients %}
<div class="table-responsive mt-4">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Entreprise</th>
                <th>Coordonnées</th>
                <th>Historique</th>
                {% if user|has_group:"vente" %}
                <th></th>
                {% endif %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr class="align-middle">
                <td class="nobr">{{ client.first_name|title }} {{ client.last_name|upper }}</td>
                <td>{{ client.company_name|upper }}</td>
                <td>
                    <div class="nobr">{{ client.email }}</div>
                    <div class="nobr"><span class="text-secondary">Fixe :</span> {{ client.phone }}</div>
                    <div class="nobr"><span class="text-secondary">Mobile :</span> {{ client.mobile }}</div>
                </td>
                <td>
                    <div class="nobr"><span class="text-secondary">Ajouté :</span> {{ client.date_created|date:"d/m/Y H:i" }}</div>
                    <div class="nobr"><span class="text-secondary">Mis à jour :</span> {{ client.date_updated|date:"d/m/Y H:i" }}</div>
                </td>
                {% if user|has_group:"vente" %}
                <td><a class="btn btn-sm btn-outline-light" href="{% url 'client_update' client.pk %}">Modifier</a></td>
                {% endif %}
                <td><a class="btn btn-sm btn-outline-light" href="#">Contrats</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Aucun client n'est associé à votre profil utilisateur.</p>
{% endif %}

{% endblock content %}