{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}
Epic Events | {% if contract %}{{ contract }}{% else %}Nouveau contrat{% endif %}
{% endblock title %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-sm-8 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
        <h1 class="text-center text-white mb-2">
            {% if contract %}
            {{ contract }} {{ contract.title|title }}
            {% else %}
            Nouveau contrat
            {% endif %}
        </h1>
        <h2 class="h4 text-center mb-4">{{ client.first_name|title }} {{ client.last_name|upper }} - {{ client.company_name|upper }}</h2>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form contract_form bound_css_class="" %}
            <div class="text-center">
                <a class="btn btn-secondary mt-4 me-3" href="{% url 'contract_list' client.pk %}">Annuler</a>
                <button class="btn btn-secondary mt-4" type="submit">
                    {% if contract %}Enregistrer{% else %}Créer{% endif %}
                </button>
            </div>
        </form>
    </div>

</div>

{% endblock content %}