<div class="modal fade" id="login-required-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark border border-light">
            <div class="modal-header">
                <p class="h4 text-light">Connexion requise</p>
                <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body light-grey">
                <p class="mt-2">Vous devez être connecté pour accéder à l'API.</p>
                <p class="mt-1">&#10141; <a href="{% url 'login' %}">Me connecter</a></p>
            </div>
        </div>
    </div>
</div>